/*
 * Copyright (c) 2021 Nick Winans
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define xxx &none

&lt {
    tapping-term-ms = <444>;
};


/ {
  keymap {
    compatible = "zmk,keymap";
    
    default_layer {
        // ----------------------------------------------------------------------------------------------------------
        // | F1  | ESC |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  |  0  |  -  |  =  |   \  |  ~ | HOME    |
        // | F2  | TAB  |  Q  |  W  |  E  |  R  |  T  |  Y  |  U  |  I  |  O  |  P  |  [  |  ]  |   BKSP   | PG UP   |
        // | F3  | CTRL  |  A  |  S   | D  |  F(navi)  |  G  |  H  |  J  |  K  |  L  |  ;  |  '  |     ENTER     | PG DOWN |
        // | F4  |  SHIFT  |  Z  |  X  |  C  |  V  |  B  |  N  |  M  |  ,  |  .  |  /(setting)  |   SHIFT   |  UP   | END     |
        // | F5  |  CTRL  |  ALT  |  WIN  |                SPACE                |  MO(raise)  |  LEFT  |  DOWN | RIGHT   |
        // ----------------------------------------------------------------------------------------------------------
      bindings = <
        xxx     &gresc     &kp N1   &kp N2   &kp N3   &kp N4   &kp N5   &kp N6   &kp N7   &kp N8     &kp N9   &kp N0    &kp MINUS  &kp EQUAL  &kp BSLH  &kp GRAVE   &kp HOME
        &kp F2  &kp TAB    &kp Q    &kp W    &kp E    &kp R    &kp T    &kp Y    &kp U    &kp I      &kp O    &kp P     &kp LBKT   &kp RBKT       &kp BSPC        &kp PG_UP
        &kp F3  &kp LCTRL   &kp A    &kp S  &kp D    &lt 2 F    &kp G    &kp H    &kp J    &kp K      &kp L    &kp SEMI  &kp SQT           &kp RET                 &kp PG_DN
        &kp F4  &kp LSHFT  &kp Z    &kp X    &kp C    &kp V    &kp B    &kp N    &kp M    &kp COMMA  &kp DOT  &lt 3 FSLH                      &kp RSHFT   &kp UP    &kp END
        &kp F5  &kp LCTRL  &kp LALT &kp LGUI                                  &kp SPACE                                        &mo 1    &kp LEFT      &kp DOWN  &kp RIGHT
      >;
    };

    raise {
        // --------------------------------------------------------------------------------------------------------------
        // | xx  |     |  F1  |  F2  |  F3  |  F4  |  F5  |  F6  |  F7  |  F8  |  F9  |  F10  |  F11  |  F12  | INS | DEL |     |
        // | F7  | Caps |     |  Prev   |  Play   |  Next   |     |     |     |     |     |     |     |     |      |     Clear        |     |
        // | F8  |        | Vol_DOWN  |  Vol_UP   |  Mute  |     |     |     |     |     |     |     |     |     |     |                 |     |
        // | F9  |          |     |     |     |     |     |     |     |     |     |     |     |     |     |       |       |     |
        // | F10 |        |     |     |                                                         |         |        |      |     |
        // ---------------------------------------------------------------------------------------------------------------
      bindings = <
         xxx      xxx    &kp F1   &kp F2   &kp F3   &kp F4   &kp F5   &kp F6   &kp F7   &kp F8     &kp F9   &kp F10    &kp F11  &kp F12  &kp INS  &kp DEL           &trans  
        &kp F7   &kp CAPS   &trans   &kp C_PREV    &kp C_PP   &kp C_NEXT    &trans   &trans    &trans   &trans    &trans   &trans    &trans   &trans         &trans        &trans 
        &kp F8   &trans &kp C_VOL_DN   &kp C_VOL_UP    &kp C_MUTE   &trans    &trans   &trans  &trans &trans   &trans &trans    &trans            &trans              &trans  
        &kp F9   &trans  &trans   &trans    &trans   &trans    &trans   &trans    &trans   &trans    &trans   &trans                       &trans   &trans    &trans   
        &kp F10  &trans  &trans   &trans                                   &trans                                      &trans    &trans   &kp DEL   &trans
      >;
    };

     navigations {
        // --------------------------------------------------------------------------------------------------------------
        // |  XX   |    |     |     |     |     |     |     |     |     |     |     |     |     |     |     |          |     | 
        // |       |      |     |     |     |     |     |     |     |     |     |     |     |     |     |              |     |
        // |       |        |     |     |     |     |     |LEFT |DOWN |  UP |RIGHT|     |     |     |     |            |     |
        // |       |          |     |     |     |     |     |     |     |     |     |     |     |     |     |     |    |     |
        // |       |      |     |     |                                                           |         |     |    |     |
        // ---------------------------------------------------------------------------------------------------------------
      bindings = <
         xxx     &trans   &trans   &trans    &trans   &trans    &trans   &trans    &trans   &trans    &trans   &trans    &trans   &trans    &trans   &trans    &trans      
        &bt BT_CLR  &trans   &trans   &trans    &trans   &trans    &trans   &trans    &trans   &trans    &trans   &trans    &trans   &trans         &trans        &trans 
        &bt BT_SEL 1  &trans   &trans   &trans    &trans   &trans    &trans   &kp LEFT  &kp DOWN &kp UP   &kp RIGHT &trans    &trans                  &trans        &trans  
        &bt BT_SEL 2  &trans   &trans   &trans    &rgb_ug RGB_BRD   &rgb_ug RGB_BRI    &rgb_ug RGB_COLOR_HSB(0, 150, 255)   &trans    &trans   &trans    &trans   &trans                       &trans   &trans    &trans   
        &bt BT_SEL 3  &trans   &trans   &trans                                   &rgb_ug RGB_TOG                                                &trans    &trans   &trans    &trans
      >;
    };

    settings {
        // --------------------------------------------------------------------------------------------------------------
        // |  XX  | BT CLR|     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |     |
        // | BT 1 |       |  Color White   |     |   Color Red  |     |     |     |     |     |     |     |     |     |     |           |     |
        // | BT 2 |       |     |     |     |     | Color Green    |     |     |     |     |     |     |     |     |           |     |
        // | BT 3 |       |     |     |  -brigh   |  +brigh   |  COLOR Blue  |     |     |     |     |     |     |     |     |     |     |     |
        // | BT 4 |       |     |     |                            RGB TOG                        |     |     |     |     |
        // ---------------------------------------------------------------------------------------------------------------
      bindings = <
        &none         &trans    &trans   &trans    &trans   &trans    &trans   &trans    &trans   &trans    &trans   &trans    &trans   &trans    &trans   &trans        &trans      
        &bt BT_CLR    &trans  &trans   &rgb_ug RGB_COLOR_HSB(255,250,250)   &trans   &rgb_ug RGB_COLOR_HSB(255,0,0)    &trans   &trans    &trans   &trans    &trans   &trans    &trans   &trans         &trans        &trans 
        &bt BT_SEl 1  &trans  &trans   &trans    &trans   &trans    &rgb_ug RGB_COLOR_HSB(127,255,0)   &trans    &trans   &trans    &trans &trans    &trans            &trans              &trans  
        &bt BT_SEl 2  &trans  &trans   &trans    &rgb_ug RGB_BRD   &rgb_ug RGB_BRI    &rgb_ug RGB_COLOR_HSB(0, 150, 255)   &trans    &trans   &trans    &trans   &trans                       &trans   &trans    &trans   
        &bt BT_SEl 3  &trans  &trans   &trans                                   &rgb_ug RGB_TOG                                       &trans    &trans   &trans    &trans
      >;
    };
  };
};
